<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="workflowLoginForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <workflowLoginForm.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=docker-1.butler.edu;Initial Catalog=WORKFLOW;Persist Security Info=True;User ID=workflow;Password=cw97zUyEDMXyaf6UsZBB</value>
            </setting>
        </workflowLoginForm.Properties.Settings>
    </userSettings>
</configuration>